<ul class="nav navbar-nav flex-column">
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['active']">
            <i class="fa fa-home fa-fw" aria-hidden="true"></i> ТЗ
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/stockman']" [routerLinkActive]="['active']">
            <i class="fa fa-table fa-fw" aria-hidden="true"></i> Кладовщики
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/detail']" [routerLinkActive]="['active']">
            <i class="fa fa-table fa-fw" aria-hidden="true"></i> Детали
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/stockmaninfo']" [routerLinkActive]="['active']">
            <i class="fa fa-table fa-fw" aria-hidden="true"></i> Расчет
        </a>
    </li>

</ul>