<div>
    <p-growl [(value)]="msgs"></p-growl>

    <button pButton type="button" class="mb-2" icon="fa-plus" (click)="showDialog()" label="Добавить деталь"></button>
    <p-toggleButton class="float-right" [(ngModel)]="checked" (click)="updateDel()" onLabel="показать удаленные записи" offLabel="скрыть удаленные записи" onIcon="fa-check-square" offIcon="fa-square" [style]="{'width':'350px' }"></p-toggleButton>
   
    <p-table [columns]="cols" [value]="detailsinfo" [scrollable]="true" scrollHeight="400px" [resizableColumns]="true" selectionMode="single" [(selection)]="selectedDetailinfo" dataKey="id" [paginator]="true" [rows]="20">

        <ng-template pTemplate="caption">
            <h3>Список деталей</h3>
            <p>Всего {{detailsinfo?.length}}</p>
            <p class="text-success">{{selectedDetailinfo ? selectedDetailinfo.nomenclatureCode + ' ' + selectedDetailinfo.name + selectedDetailinfo.quantity + ' ': ''}}</p>

        </ng-template>

        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col *ngFor="let col of columns" [style.width]="col.width">
            </colgroup>
        </ng-template>

        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" pResizableColumn>
                    {{col.header}}
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-detailinfo>
            <tr [pSelectableRow]="rowData">
                <td>{{detailinfo?.nomenclatureCode}}</td>
                <td>{{detailinfo?.name}}</td>
                <td>{{detailinfo?.quantity}}</td>
                <td>{{detailinfo?.nameStockman}}</td>
                <td>{{detailinfo?.createDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{detailinfo?.deleteDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            </tr>
        </ng-template>

        <ng-template pTemplate="summary">
            <div style="text-align: right">
                <button pButton type="button" icon="fa-minus" (click)="delete(selectedDetailinfo.id)" label="Удалить деталь" class="ui-button-danger"></button>
            </div>
        </ng-template>
    </p-table>

    <p-dialog header="Добавить деталь" class="text-center" [(visible)]="display" [modal]="true" [responsive]="true" [width]="450" [minWidth]="200" [minY]="80">
        <div class="alert alert-warning" role="alert" [hidden]="addForm.form.valid">
            *Заполните все обязательные поля.
        </div>
        <div class="card">
            <div class="card-body">
                <form (ngSubmit)="save()" #addForm="ngForm">

                    <div class="form-group">
                        <label>*Номенклатурный код</label>
                        <input type="text"
                               id="nomenclatureCode"
                               name="nomenclatureCode"
                               class="form-control"
                               [(ngModel)]="detail.nomenclatureCode"
                               required>
                    </div>

                    <div class="form-group">
                        <label>*Название детали</label>
                        <input type="text" class="form-control"
                               id="name"
                               name="name"
                               [(ngModel)]="detail.name"
                               required>
                    </div>

                    <div class="form-group">
                        <label>Количество</label>
                        <p-spinner size="30"
                                   id="quantity"
                                   name="quantity"
                                   [(ngModel)]="detail.quantity"
                                   [min]="0"
                                   [max]="1000">

                        </p-spinner>
                    </div>

                    <div class="form-group">
                        <label for="type">*Кладовщики</label>
                        <select class="form-control"
                                id="stockman"
                                name="stockman"
                                required
                                [(ngModel)]="detail.stockmanid">

                            <option *ngFor="let stockman of stockmans" [value]="stockman.id">{{stockman.fio}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div><label>*Дата создания</label></div>
                        <p-calendar id="createDate"
                                    name="createDate"
                                    utc="true"
                                    [(ngModel)]="detail.createDate"
                                    showTime="true"
                                    hourFormat="24"
                                    required>
                        </p-calendar>
                    </div>

                    <button type="submit"
                            class="btn btn-sm btn-success"
                            [disabled]="!addForm.form.valid">
                        Сохранить
                    </button>
                    <input type="button" value="Отмена" (click)="cancel()" class="btn btn-sm btn-warning" />
                </form>
            </div>
        </div>
    </p-dialog>
</div>
