<div>
    <p>1)	Приложение ASP.NET Core MVC + Angular 2 /4/5 (front end) или ASP.NET MVC (.net framework) + AngularJS (front end). Возможно выполнение в виде приложения ASP .NET MVC 5. Дальнейшая проектная деятельность будет связана с Angular 2/4/5 (front) и .NET (C#) (back).</p>
    <p>2)	IDE – Visual Studio 2015 (2017). </p>
    <p>3)	HTML,CSS, JS library – Bootstrap. </p>
    <p>4)	База данных – mssql (Server = (localDb\\mssqllocaldb)) (или Sql Server Express LocalDb). Возможно использование другой СУБД. Дальнейшая проектная деятельность будет связана c Oracle.</p>
    <p>5)	Использование Entity Framework (Code First Migrations или DataBase First).</p>
    <p>6)	Таблицы базы данных:</p>
    <p>
        7)	Страница 1. Отображается информация из таблицы ДЕТАЛИ (в столбце КЛАДОВЩИК – отображается имя)
        •	Предусмотреть возможность удаления, добавления записи в таблицу ДЕТАЛИ;
        •	Реализовать валидацию данных при внесении в БД в соответствии с требованиями по таблице;
        •	 Заполнить поле ДАТА СОЗДАНИЯ используя Datepicker;
        •	При создании записи ДЕТАЛЬ, значение поля кладовщик определяется путем выбора соответствующего значения из выпадающего списка (combobox). Любая другая реализация - приветствуется;
    </p>
    <p>8)	Страница 2. Отображается информация из таблицы КЛАДОВЩИК + столбец КОЛИЧЕСТВО ДЕТАЛЕЙ (помещается значение суммарного кол-ва по не удалённым деталям, которые закреплены за кладовщиком)</p>
    <p>9)	Предусмотреть возможность удаления, добавления записи в таблицу КЛАДОВЩИК; </p>
    <p>•	Исключить удаление кладовщика, если за ним числятся детали;</p>
    <p>10)	 Приветствуется использование Web API;</p>
</div>